@font-face {
  font-family: 'majalla';
  src:
    url('https://github.com/MuhaNaguib/MuhaNaguib.github.io/blob/127dca56bb4806516973c5d139d234d999f11767/FONT/majalla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
    url('https://<yourserver>/path/to/font.woff2') format('woff2'),
    url('https://<yourserver>/path/to/font.woff') format('woff'),
/*
